<div class="services">

  <div class="slider-container" id="slider1">
    <img class="rotating-image" src="./assets/images/service_image_1.png" alt="Slider 1">
  </div>

  <div class="services-features-container">
    <ul class="features-list">
      <li>
        <div class="services-list-mark"></div>
        <span>Change image after<span class="highlight">10 seconds</span></span>
      </li>
      <div class="service-divider"></div>
      <li>
        <div class="services-list-mark"></div>
        <span>Stop changing<span class="highlight">on enter mouse</span></span>
      </li>
      <div class="service-divider"></div>
      <li>
        <div class="services-list-mark"></div>
        <span>Restart change
          image<span class="highlight">on leave mouse</span></span>
      </li>

    </ul>

    <button class="services-btn">Show on GitHub</button>
  </div>


  <div class="slider-container" id="slider2">
    <img class="rotating-image" src="./assets/images/service_image_1.png" alt="Slider 2">
  </div>

</div>
