<div class="intro">
  <div class="intro-content">
    <h1>Welcome to <br/>
      Car Washing Company</h1>

    <ul class="features-list">
      <li>
        <div class="list-mark"></div>
        <span>Home travel—for only<span class="highlight">$10</span></span>
      </li>
      <li>
        <div class="list-mark"></div>
        <span>Express-muscle in <span class="highlight">30 minutes</span></span>
      </li>
      <li>
        <div class="list-mark"></div>
        <span> Environmentally friendly detergents</span>
      </li>
    </ul>

    <button class="cta-button">Order now</button>

  </div>
  <div class="intro-image">
    <img src="./assets/images/intro.png" alt="Intro Image">
  </div>
</div>

